<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutores</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="wrapper">
        <div class="sidebar">
            <button>Histórico clínico</button>
            <button>Acompanhamento</button>
            <button>Fila de castração</button>
            <button class="active">Tutores</button>
            <button>Atendimentos agendados - Consulta</button>
            <button>Agendar atendimentos</button>
            <button>Consulta</button>
        </div>
        <div class="main-content">
            <h1>TUTORES</h1>
            <div class="search-section">
                <!-- Search section -->
            </div>
            <div class="form-section">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="button-section">
                        <button type="submit">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div id="successModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>O tutor foi cadastrado com sucesso!</p>
        </div>
    </div>

    <!-- Inclua o arquivo JavaScript -->
    <script src="{% static 'js/script.js' %}"></script>

    <!-- Campo oculto para controlar a exibição do modal -->
    <input type="hidden" id="showModal" value="{{ show_modal }}">
</body>
</html>